//colors
$orange: #e45028;
$yellow: #f9b43b;
$yellow2: #f08c33;
$black: #2f3234;
$red: #c1401e;
$dark: #1f2122;

//normalize
@import "./layout/normalize.scss";

// setups
@import "./layout/mixins.scss";
@import "./layout/fonts.scss";
@import "./layout/layout.scss";

//blocks
@import "./blocks/title.scss";
@import "./blocks/btn.scss";
@import "./blocks/hero.scss";
@import "./blocks/header1.scss";
@import "./blocks/best.scss";
@import "./blocks/burger.scss";
@import "./blocks/reviews.scss";
@import "./blocks/order.scss";
@import "./blocks/team.scss";
@import "./blocks/acco-menu.scss";

