.best {
  background: url('../../img/bg-2.jpg') center center / cover no-repeat;
}

.best__content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100%;
}

.best__list {
  display: flex;
  margin-top: 20px;
}

.best__item {
  flex: 1;
  margin-right: 15px;
  text-align: center;
  min-width: 308px;

  &:last-child {
    margin-right: 0;
  }
}

.best__icon {
  display: inline-block;
}

.best__desc-title {
  font-family: 'lifehack';
  font-size: 24.14px;
  // min-height: 55px;
  margin: 25px 0;
}