.burger {
  background: url('../../img/bg-3.jpg');
}

.burger__content {
  display: flex;
  height: 100%;
  align-items: center;
}

.burder__content-desc {
  padding: 0 0 10px 40px;
  
}

.burger__content-text {
  color: #fff;
}

.burger__content-desc {
  line-height: 1.7em;
}

.burger__content-text .section-title {
  max-width: 250px;
}

.burder__price {
  display: flex;
  margin: 40px 0 0;
}

.burder__price-desc {
  display: flex;
  font-family: 'gagalin', Helvetica, sans-serif;
  font-size: 30px;
  color: $orange;
  align-items: baseline;
  margin-right: 28px;
}

.burder__price-nbr {
  font-size: 72px;
  margin-right: 8px;
}

.burger__icon {
  position: absolute;
}

.burger__icon-1 {
  border-radius: 6px;
  background: $yellow2;
  height: 90px;
  width: 90px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  color: #fff;
  font-family: 'gagalin';
  left: 10px;
  top: 190px;
}

.burger__icon-kkal {
  top: 620px;
  left: 0;
}