.hero {
  background: url('../../img/bg-1.jpg') center center / cover no-repeat;
  
}

.hero__container {
  display: flex;
}

.hero__content {
  display: flex;
  flex: .75;
  justify-content: center;
  align-items: center;
}

.hero__content-text {
  margin: 85px 0 0 20px;
  min-height: 235px;
}

.hero__order-btn {
  margin-left: 15px;
}

.hero__content-desc {
  font-size: 65px;
  font-family: "lifehack";
  color: #fff;
  line-height: .95em;
  margin-top: -10px;
}

.arrow-down {
  position: absolute;
  top: 850px;
  left: 450px;
}